[**]
end_of_line = lf
max_line_length = 80

[*.{kt,kts}]
# Oh, the irony.  IntelliJ insists on sorting java* imports last
ktlint_disabled_rules=import-ordering, trailing-comma-on-call-site, trailing-comma-on-declaration-site, filename
ktlint_code_style = official
